<script type="text/javascript">

  var SearchBoxElements = document.querySelectorAll(".ms-SearchBox");
  for (var i = 0; i < SearchBoxElements.length; i++) {
    new fabric['SearchBox'](SearchBoxElements[i]);
  }

</script> 


<div class="container-fluid" ng-controller="AchatBCCtrl" style="background-color: #fff;">

<div class="row" ng-show="traitementEnCoursGenererAll =='true'">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
		<br>
			<div  
				ng-click="traitementEnCoursGenererAll ='false'">
				 

					<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
				 
				 


			</div>

		</div>
		<div class="col-sm-5"></div>

	</div>

	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-sm-12">
			<br /> <span class="ms-ListItem-secondaryText float-right font-italic"> <b>
					Bon de Commande</b>
			</span> <span class="ms-ListItem-primaryText">Crit&eacute;re de
				Recherche</span> <br />





			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-SearchBox ms-SearchBox--commandBar">
						<input class="ms-SearchBox-field" type="text" value="" ng-model="filterOptions.filterText" /> <label
							class="ms-SearchBox-label"> <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i> <span
								class="ms-SearchBox-text">Rechercher</span>
						</label>
						<div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--ChromeBack"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
					</div>

					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Info"></i></span>
							<span class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="AffectationVenteBC()" ng-disabled="">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--CirclePlus"></i></span> <span
								class="ms-CommandButton-label">Ajouter</span>
						</button>
					</div>


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="dowloadListCmdAchat(commandeAchatCourante)">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Generate"></i></span> <span
								class="ms-CommandButton-label">G&eacute;n&eacute;rer</span>
						</button>
					</div>
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="recherchercommandeAchat(commandeAchatCourante)">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--FolderSearch"></i></span> <span
								class="ms-CommandButton-label">Rechercher</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annulerAjout()">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> <span
								class="ms-CommandButton-label">Annuler</span>
						</button>
					</div>
					<div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Folder</a> <i
									class="ms-Icon ms-Icon--Folder"></i></li>
							<li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> <i
									class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Picture</a> <i
									class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Money</a> <i
									class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>


			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" id="rechercheSSForm" name="rechercheSSForm">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">R&eacute;f&eacute;rence</span>
										</div>
										<input type="text" class="form-control" ng-init="commandeAchatCourante.reference =''"
											ng-model="commandeAchatCourante.reference">
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Fournisseur</span>
										</div>
										<select ui-select2 ng-model="commandeAchatCourante.partieInteresseId"
											ng-init="commandeAchatCourante.partieInteresseId =''" data-placeholder="..." class="form-control "
											style="border: 1px solid #e5eaee !important;">
											<OPTION value="">Tous</OPTION>
											<option ng-repeat="pi in listeClientCache | filter:{famillePartieInteressee:2}" value="{{pi.id}}">
												{{pi.reference}}-{{pi.abreviation}}</option>
										</select>
									</div>
								</div>
							</div>




							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Reception</span>
										</div>
										<select ui-select2 ng-model="commandeAchatCourante.reception"
											ng-init="commandeAchatCourante.reception =''" data-placeholder="" class="form-control "
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option value="oui">OUI</option>
											<option value="non">NON</option>

										</select>
									</div>
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-sm-6" ng-controller="DatepickerDemoController">




								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> Date Commande de</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-init="commandeAchatCourante.dateIntroductionDu =''"
											ng-model="commandeAchatCourante.dateIntroductionDu" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)" ng-required="true"
											close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>






							</div>
							<div class="col-sm-6" ng-controller="DatepickerDemoController">






								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> A</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-init="commandeAchatCourante.dateIntroductionA =''"
											ng-model="commandeAchatCourante.dateIntroductionA" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)" ng-required="true"
											close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>




							</div>

						</div>
						<div class="row">
							<div class="col-sm-6" ng-controller="DatepickerDemoController">




								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> Date Livraison de</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-init="commandeAchatCourante.dateLivraisonDu =''"
											ng-model="commandeAchatCourante.dateLivraisonDu" is-open="opened" datepicker-options="dateOptions"
											date-="enabled(date, mode)" ng-required="true" close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>








							</div>
							<div class="col-sm-6" ng-controller="DatepickerDemoController">



								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> A</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-init="commandeAchatCourante.dateLivraisonA =''" ng-model="commandeAchatCourante.dateLivraisonA"
											is-open="opened" datepicker-options="dateOptions" date-="enabled(date, mode)" ng-required="true"
											close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>





							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Quantit&eacute; Du</span>
										</div>
										<input type="text" class="form-control" ng-init="commandeAchatCourante.quantiteDu =''"
											ng-model="commandeAchatCourante.quantiteDu">
									</div>
								</div>

							</div>
							<div class="col-sm-3">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Quantit&eacute; A</span>
										</div>
										<input type="text" class="form-control" ng-init="commandeAchatCourante.quantiteA =''"
											ng-model="commandeAchatCourante.quantiteA">
									</div>
								</div>
							</div>
							<div class="col-sm-3">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Prix Du</span>
										</div>
										<input type="number" class="form-control" min="0" pattern="^\d*(\.\d{0,2})?$" placeholder="0.00"
											value="0" name="coutDu" ng-init="commandeAchatCourante.coutDu =''"
											ng-model="commandeAchatCourante.coutDu">
									</div>

									<div ng-show="
                  rechercheSSForm.coutDu.$dirty && rechercheSSForm.coutDu.$invalid" class="error">
										<div ng-show="rechercheSSForm.coutDu.$error">La valeur
											doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Prix A</span>
										</div>
										<input type="number" class="form-control" min="0" pattern="^\d*(\.\d{0,2})?$" placeholder="0.00"
											value="0" name="coutA" ng-init="commandeAchatCourante.coutA =''"
											ng-model="commandeAchatCourante.coutA">
									</div>
									<div ng-show="
                  rechercheSSForm.coutA.$dirty && rechercheSSForm.coutA.$invalid" class="error">
										<div ng-show="rechercheSSForm.coutA.$error">La valeur
											doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>

		</div>
	</div>
	
	<div class="row" ng-show="traitementEnCoursGenererCommande =='true'">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
		<br>
			<div  
				ng-click="traitementEnCoursGenererCommande ='false'">
				 

					<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
				 
				 


			</div>

		</div>
		<div class="col-sm-5"></div>

	</div>

	<div class="row" ng-show="traitementEnCours=='true'">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
			<br>
			<div ng-click="traitementEnCours ='false'">
				<div>

					<div class="lds-spinner">
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
					</div>
				</div>
				<div></div>
				<div>{{msg}}</div>


			</div>

		</div>
		<div class="col-sm-5"></div>

	</div>


	<div class="row" ng-hide="hiddenNotif">

		<div class="col-sm-8"></div>
		<div class="col-sm-4">
			<br> <span>
				<alert type="success" class="alert-success-sauvegarde light"
					style="text-align: center !important; background-color: #1BC5BD !important">
					<span ng-bind-html="'Commande enregistr&eacute;e avec succ&egrave;s.' | safe_html"></span>
					<a> <i class="fa fa-times close-notif" ng-click="closeNotif()" style="color: #fff !important;"></i>
					</a> </alert>
			</span>
		</div>
	</div>

	<div class="row" ng-show="displayMode == 'edit'">








		<div class="col-sm-12">
			<br /> <span class="ms-ListItem-secondaryText float-right font-italic"> <b>Bon
					de Commande</b>
			</span> <span class="ms-ListItem-primaryText" ng-show="modePdf != 'actif'">Cr&eacute;ation
				Bon Commande</span> <span class="ms-ListItem-primaryText" ng-show="modePdf == 'actif'">Modification Bon
				Commande</span> <br />






			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--Info"></i></span>
							<span class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">
					<div class="ms-CommandButton" permission="['Commande_Edit']">
						<button class="ms-CommandButton-button" ng-click="sauvegarderAjout(commandeAchatCourante)"
							ng-disabled="!creationSSForm.$valid">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Save"></i></span> <span
								class="ms-CommandButton-label">Enregistrer</span>
						</button>
					</div>


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-show="modePdf == 'actif'" class="btn-action btn"
							ng-click="download(commandeAchatCourante.id,checkboxModel.rapportPrix,'Commande')">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Generate"></i></span> <span
								class="ms-CommandButton-label">G&eacute;n&eacute;rer</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annulerAjout()">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Back"></i></span> <span
								class="ms-CommandButton-label">Retour</span>
						</button>
					</div>
					<div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Folder</a> <i
									class="ms-Icon ms-Icon--Folder"></i></li>
							<li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> <i
									class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Picture</a> <i
									class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Money</a> <i
									class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<form name="creationSSForm">







						<div class="row">
							<div class="col-sm-6">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">R&eacute;f&eacute;rence</span>
										</div>
										<input type="text" class="form-control" ng-model="commandeAchatCourante.reference"s
											ng-disabled="modePdf != 'actif' && clientActif.disableAchat">
									</div>
								</div>


							</div>
							<div class="col-sm-6">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Fournisseur</span>
										</div>
										<select ui-select2 ng-model="commandeAchatCourante.partieIntersseId"
											ng-init="commandeAchatCourante.partieIntersseId =''" data-placeholder="..." class="form-control "
											style="border: 1px solid #e5eaee !important;">
											<OPTION value="">Tous</OPTION>
											<option ng-repeat="pi in listeClientCache | filter:{famillePartieInteressee:2}" value="{{pi.id}}">
												{{pi.reference}}-{{pi.abreviation}}</option>
										</select>
									</div>
								</div>


							</div>


						</div>
						<div class="row">


							<div class="col-sm-6" ng-controller="DatepickerDemoController">





								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label is-required"> Date Commande</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-model="commandeAchatCourante.dateIntroduction" is-open="opened"
											datepicker-options="dateOptions" date-disabled="enabled(date, mode)" close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>





							</div>
							<div class="col-sm-6" ng-controller="DatepickerDemoController">




								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label is-required"> Date Livraison</span>
										</div>
										<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
											ng-model="commandeAchatCourante.dateLivraison" is-open="opened" datepicker-options="dateOptions"
											date-="enabled(date, mode)" ng-required="true" close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default" ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>





							</div>



						</div>


						<div class="row">
							<!-- <div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Site</span>
										</div>
										<select class="form-control" ng-model="commandeAchatCourante.siteId">
											<option ng-repeat="site in listeSitePartieInteresseeCache" value="{{site.id}}">{{site.nom}}
											</option>
										</select>
									</div>
								</div>


							</div> -->
							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Prix Total</span>
										</div>
										<input class="form-control" min="0" pattern="^\d*(\.\d{0,2})?$" placeholder="0.00" value="0"
											name="prixTotal" ng-model="commandeAchatCourante.prixTotal" readonly="readonly"
											value="{{commandeAchatCourante.prixTotal}}" />
									</div>

									<div ng-show="
                  creationProduitForm.prixTotal.$dirty && creationProduitForm.prixTotal.$invalid" class="error">
										<div ng-show="creationProduitForm.prixTotal.$error">La
											valeur doit être supérieure ou égale à 0 !</div>
									</div>
								</div>


							</div>
							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label ">Quantite</span>
										</div>
										<input class="form-control" ng-model="commandeAchatCourante.quantite" readonly="readonly"
											value="{{commandeAchatCourante.quantite}}" />
									</div>
								</div>

							</div>


						<div class="col-sm-4">






								<div class="form-group float-right ">
									<div class="input-group">

										<div class="input-group-prepend ">
											<label class="input-group-text ms-Label is-required">Prix</label>
										</div>
										<div class="input-group-prepend">
											<div class="input-group-text">
												<label class="checkbox checkbox-square checkbox-primary">
													<input type="checkbox" ng-init="checkboxModel.rapportPrix='oui'"
														ng-model="checkboxModel.rapportPrix" ng-true-value="oui" ng-false-value="non"> <span></span>
												</label>
											</div>
										</div>

									</div>
								</div>



							</div>
						</div>

						<div class="row">

							<div class="col-sm-12">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Observations</span>
										</div>
										<textarea class="form-control" ng-model="commandeAchatCourante.observations" rows="1"></textarea>
									</div>
								</div>


							</div>
						</div>

						 




						<div class="row alert alert-primary">
							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Montant Taxe</span>
										</div>
										<input class="form-control" readonly="readonly"
											value="{{commandeAchatCourante.montantTaxe | prixFiltre}}" />
									</div>
								</div>


							</div>
							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Montant HT</span>
										</div>
										<input class="form-control" readonly="readonly"
											value="{{commandeAchatCourante.prixTotal | prixFiltre}}" />
									</div>
								</div>

							</div>
							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Montant Remise</span>
										</div>
										<input class="form-control" readonly="readonly"
											value="{{commandeAchatCourante.montantRemise | prixFiltre}}" />
									</div>
								</div>

							</div>

							<div class="col-sm-4">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text ms-Label">Montant TTC</span>
										</div>
										<input class="form-control" readonly="readonly"
											value="{{commandeAchatCourante.montantTTC | prixFiltre}}" />
									</div>
								</div>

							</div>

						</div>
						<br />

						<div class="row">

							<div class="col-sm-12">
								<span class="ms-ListItem-primaryText ms-Label ">Articles</span>

								<div class="panel-body">
									<div class="form-group">
										<div class="row">


											<table ng-show="modePdf != 'actif'" class="table table-bordered table-condensed table-head-color">
												<thead>
													<tr>
														<th style="width: 15%">R&eacute;f.Article</th>
														<th style="width: 25%">Article</th>
														<th style="width: 15%">Sous Famille</th>
															<th style="width: 7%">TVA</th>
														<th style="width: 10%">Quantit&eacute;</th>
														<th style="width: 7%">UNITE</th>
														<th style="width: 15%" class="is-required">Prix Unitaire</th>
														<th><span class="ms-CommandButton-icon float-right" ng-click="ajoutProduit()"> <a
																	href="javascript:void(0)"> <i class="ms-Icon ms-Icon--CirclePlus"
																		style="color: #fff !important;"> </i>
																</a>
															</span></th>
													</tr>
												</thead>
												<tbody>

													<tr ng-repeat="produit in listProduitCommandes">

														<td><select ui-select2 ng-model="produit.produitId"
																ng-change="clickProduit(produit.produitId, $index)" data-placeholder="..."
																class="form-control " style="border: 1px solid #e5eaee !important;">
																<OPTION value="">Tous</OPTION>
																<option ng-repeat="produit in listeProduitCache" value="{{produit.id}}">
																	{{produit.ref}}</option>
															</select></td>
														<td><select ui-select2 ng-model="produit.produitId"
																ng-change="clickProduit(produit.produitId, $index)" data-placeholder="..."
																class="form-control " style="border: 1px solid #e5eaee !important;">
																<OPTION value="">Tous</OPTION>
																<option ng-repeat="produit in listeProduitCache" value="{{produit.id}}">
																	{{produit.designation}}</option>
															</select></td>
														<td><span e-form="rowform">
																{{produit.sousFamilleArtEntite || 'EMPTY' }} </span></td>
																
																
																
																								<td>

																<select ui-select2 ng-model="produit.taxeId"
																	 data-placeholder="..."
																	style="width: 100%"  class="form-control ">
																	<option ng-repeat="tax in ListeTaxe" value="{{tax.id}}">
																		{{tax.designation}}
																	</option>
																</select>
															</td>
																
																
														<td><input type="number" min="1" class="form-control" ng-model="produit.quantite" required="required"
																name="quantite" />

															<div ng-show="
                  creationSSForm.quantite.$dirty && creationSSForm.quantite.$invalid" class="error">
																<div ng-show="creationSSForm.quantite.$error">La
																	valeur doit être supérieure ou égale à 0 !</div>
															</div>
														</td>
														
														
															<td>

																<select ui-select2 ng-model="produit.unite"
																	 data-placeholder="..."
																	style="width: 100%"  class="form-control ">
																	<option ng-repeat="unite in listeUniteArticle" value="{{unite.designation}}">
																		{{unite.designation}}
																	</option>
																</select>
															</td>

														<td><input type="number" class="form-control" ng-model="produit.prixUnitaire" min="0" required="required"
																pattern="^\d*(\.\d{0,2})?$" placeholder="0.00" value="0" name="prixUnitaire" />

															<div ng-show="
                  creationSSForm.prixUnitaire.$dirty && creationSSForm.prixUnitaire.$invalid" class="error">
																<div ng-show="creationSSForm.prixUnitaire.$error">
																	La valeur doit être supérieure ou égale à 0 !</div>
															</div>
														</td>


														<td style="white-space: nowrap">

														<!-- 	<form editable-form name="rowform" onbeforesave="saveProduit($data, produit.id)"
																ng-show="rowform.$visible" class="form-buttons form-inline float-right"
																shown="produitInserree == produit">
																<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm"
																	aria-hidden="true">
																	<i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>
																</button>
																<button type="button" ng-disabled="rowform.$waiting"
																	ng-click="cancelAddcommandeAchat(rowform, $index,  produit.id, produit.produitId )"
																	class="btn btn-sm ">
																	<i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
																</button>
															</form> -->
															<div class="buttons float-right" ng-show="!rowform.$visible">

																<button data-nodrag class="btn btn-sm"
																	ng-click="removeProduit($index)">
																
																	<i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i>
																</button>


															</div>
														</td>
													</tr>
												</tbody>
											</table>



											<div ng-show="isLoading" class="col-sm-2"
												style="float: none; margin-left: auto; margin-right: auto; font-weight: bold;" class="col-sm-1">
												Chargement ...</div>




											<table ng-show="modePdf == 'actif'" class="table table-bordered table-condensed table-head-color">
												<thead>
													<tr>
														<th style="width: 15%">R&eacute;f.Article</th>
														<th style="width: 25%">Article</th>
														<th style="width: 15%">Sous Famille</th>
															<th style="width: 7%">TVA</th>
														<th style="width: 10%">Quantit&eacute;</th>
															<th style="width: 7%">UNITE</th>
														<th style="width: 15%" >Prix Unitaire</th>
														<th><span class="ms-CommandButton-icon float-right" ng-click="ajoutProduit()"> <a
																	href="javascript:void(0)"> <i class="ms-Icon ms-Icon--CirclePlus"
																		style="color: #fff !important;"> </i>
																</a>
															</span></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="produit in listProduitCommandes">
														<td><select ui-select2 ng-model="produit.produitId"
																ng-change="clickProduit(produit.produitId, $index)" data-placeholder="..."
																ng-disabled="produit.checked" class="form-control "
																style="border: 1px solid #e5eaee !important;">
																<OPTION value="">Tous</OPTION>
																<option ng-repeat="produit in listeProduitCache" value="{{produit.id}}">
																	{{produit.ref}}</option>
															</select></td>
														<td><span e-form="rowform">{{produit.designation
																|| 'EMPTY'}}</span></td>
														<td><span e-form="rowform">
																{{produit.sousFamilleArtEntite || 'EMPTY' }} </span></td>
																
																
																													<td>

																<select ui-select2 ng-model="produit.taxeId"
																	 data-placeholder="..."
																	style="width: 100%"  class="form-control ">
																	<option ng-repeat="tax in ListeTaxe" value="{{tax.id}}">
																		{{tax.designation}}
																	</option>
																</select>
															</td>		
																
																
																
																
														</td>
														<td><input type="number" class="form-control" ng-model="produit.quantite" min="0" required="required"
																pattern="^\d*(\.\d{0,2})?$" placeholder="0" value="0" name="quantite" />
															<div ng-show="
										creationSSForm.quantite.$dirty && creationSSForm.quantite.$invalid" class="error">
																<div ng-show="creationSSForm.quantite.$error">La
																	valeur doit être supérieure ou égale à 0 !</div>
															</div>
														</td>
														
														
														
																								<td>

																<select ui-select2 ng-model="produit.unite"
																	 data-placeholder="..."
																	style="width: 100%"  class="form-control ">
																	<option ng-repeat="unite in listeUniteArticle" value="{{unite.designation}}">
																		{{unite.designation}}
																	</option>
																</select>
															</td>

														<td><input type="number" class="form-control" ng-model="produit.prixUnitaire" min="0" required="required"
																pattern="^\d*(\.\d{0,2})?$" placeholder="0.00" value="0" name="prixUnitaire" />
															<div ng-show="
										creationSSForm.prixUnitaire.$dirty && creationSSForm.prixUnitaire.$invalid" class="error">
																<div ng-show="creationSSForm.prixUnitaire.$error">
																	La valeur doit être supérieure ou égale à 0 !</div>
															</div>
														</td>



														<td style="white-space: nowrap">

													<!-- 		<form editable-form name="rowform" onbeforesave="saveProduit($data, produit.id)"
																ng-show="rowform.$visible" class="form-buttons form-inline"
																shown="produitInserree == produit">
																<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm float-right"
																	aria-hidden="true">
																	<i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>

																</button>
																<button type="button" ng-disabled="rowform.$waiting"
																	ng-click="cancelAddcommandeAchat(rowform, $index,  produit.id, produit.produitId, listProduitCommande )"
																	class="btn btn-sm">

																	<i class="ms-Icon ms-Icon--Cancel ms-Icon-Gpro" aria-hidden="true"></i>
																</button>
															</form> -->
															<div class="buttons" ng-show="!rowform.$visible">

																<button data-nodrag class="btn btn-sm " ng-click="removeProduit($index)">
																	<i class="ms-Icon ms-Icon--Delete " aria-hidden="true"></i>

																</button>
															</div>
														</td>
													</tr>
											</table>




										</div>
									</div>
								</div>
							</div>

						</div>



						<!-- <div class="row"> 
							<div class="col-sm-12">
								<span class="ms-ListItem-primaryText">Documents</span>
								<div class="panel-body" ng-show="displayMode == 'edit'">
									<div class="form-group">
										<div class="row">
					 
											<table class="table table-bordered table-condensed table-head-color">
												<thead>
													<tr>
														<th class="hidden">Id</th>
														<th>Type Document</th>
														<th>Document</th>
					
														<th><span class="ms-CommandButton-icon float-right" ng-click="ajoutDocumentcommandeAchat()"> <a
																	href="javascript:void(0)"> <i class="ms-Icon ms-Icon--CirclePlus"
																		style="color: #fff !important;"> </i>
																</a>
															</span></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="documentcommandeAchat in listeDocumentcommandeAchat">
														<td class="hidden"><span editable-text="documentcommandeAchat.id" e-name="id" e-form="rowform"
																e-required> {{
																documentcommandeAchat.id || 'empty' }} </span></td>
														<td><span editable-select="documentcommandeAchat.typeDocumentId"
																e-ng-options="s.id as s.designation for s in ListTypeDocumentCache" e-name="idTypeDocPI"
																e-form="rowform">
																{{showStatus(documentcommandeAchat.typeDocumentId) }} </span></td>
														<td ng-controller="UploadCtrlcommandeAchat">
					
															<div class="form-group">
																<div class="col-sm-12">
																	<div class="fileinput fileinput-new" data-provides="fileinput">
																		<input class="hidden" type="text" ng-model="name" /> <span class="btn btn-file btn-sm"
																			style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);"
																			ng-show="!isUploaded && rowform.$visible"> <span class="fileinput-new">Selectionner
																				fichier</span> <input type="file" class="custom-file-input" file-model="myFile">
																			<span href="#" class="close fileinput-exists pull-right" style="float: none; padding: 0"
																				data-dismiss="fileinput" ng-show="!isUploaded && rowform.$visible">x</span>
																		</span> <span class="fileinput-filename" ng-model="documentcommandeAchat.path" e-name="path"
																			e-form="rowform" e-required>{{documentcommandeAchat.path}}</span>
																	</div>
																	<a class="btn  btn-sm pull-right" style="margin-right: 10px; cursor: pointer"
																		ng-click="downloadFilecommandeAchat(documentcommandeAchat.uidDocument)">
																		<span class="svg-icon svg-icon-primary svg-icon-2x">
																		
																			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
																				width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																					<rect x="0" y="0" width="24" height="24" />
																					<path
																						d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
																						fill="#000000" fill-rule="nonzero" opacity="0.3" />
																					<rect fill="#000000" opacity="0.3"
																						transform="translate(12.000000, 8.000000) rotate(-180.000000) translate(-12.000000, -8.000000) "
																						x="11" y="1" width="2" height="14" rx="1" />
																					<path
																						d="M7.70710678,15.7071068 C7.31658249,16.0976311 6.68341751,16.0976311 6.29289322,15.7071068 C5.90236893,15.3165825 5.90236893,14.6834175 6.29289322,14.2928932 L11.2928932,9.29289322 C11.6689749,8.91681153 12.2736364,8.90091039 12.6689647,9.25670585 L17.6689647,13.7567059 C18.0794748,14.1261649 18.1127532,14.7584547 17.7432941,15.1689647 C17.3738351,15.5794748 16.7415453,15.6127532 16.3310353,15.2432941 L12.0362375,11.3779761 L7.70710678,15.7071068 Z"
																						fill="#000000" fill-rule="nonzero"
																						transform="translate(12.000004, 12.499999) rotate(-180.000000) translate(-12.000004, -12.499999) " />
																				</g>
																			</svg>
																			
																		</span>
					
					
					
																	</a> <a ng-click="uploadFilecommandeAchat()" ng-show="!isUploaded && rowform.$visible"
																		class="btn  btn-sm fileinput-upload  pull-right"> <span
																			class="svg-icon svg-icon-primary svg-icon-2x">
																		
																			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
																				width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																				<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
																					<rect x="0" y="0" width="24" height="24" />
																					<path
																						d="M2,13 C2,12.5 2.5,12 3,12 C3.5,12 4,12.5 4,13 C4,13.3333333 4,15 4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 C2,15 2,13.3333333 2,13 Z"
																						fill="#000000" fill-rule="nonzero" opacity="0.3" />
																					<rect fill="#000000" opacity="0.3" x="11" y="2" width="2" height="14" rx="1" />
																					<path
																						d="M12.0362375,3.37797611 L7.70710678,7.70710678 C7.31658249,8.09763107 6.68341751,8.09763107 6.29289322,7.70710678 C5.90236893,7.31658249 5.90236893,6.68341751 6.29289322,6.29289322 L11.2928932,1.29289322 C11.6689749,0.916811528 12.2736364,0.900910387 12.6689647,1.25670585 L17.6689647,5.75670585 C18.0794748,6.12616487 18.1127532,6.75845471 17.7432941,7.16896473 C17.3738351,7.57947475 16.7415453,7.61275317 16.3310353,7.24329415 L12.0362375,3.37797611 Z"
																						fill="#000000" fill-rule="nonzero" />
																				</g>
																			</svg>
																		</span>
																	</a>
																</div>
															</div> <input class="hidden" ng-model="documentcommandeAchat.uidDocument" e-name="uidDocument"
																e-form="rowform" e-required value="{{ documentcommandeAchat.uidDocument ||
																		'empty' }} " />
														</td>
					
														<td style="white-space: nowrap">
					
															<div class="row">
																<div class="col-sm-6">
																	<form editable-form name="rowform"
																		onbeforesave="saveDocumentcommandeAchat($data, documentcommandeAchat.id)"
																		ng-show="rowform.$visible" class="form-buttons form-inline float-right"
																		shown="documentcommandeAchatInserree == documentcommandeAchat">
																		<button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm " aria-hidden="true">
					
					
																			<i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>
					
																		</button>
																		<button type="button" ng-disabled="rowform.$waiting"
																			ng-click="cancelAddcommandeAchat(rowform, $index, documentcommandeAchat.id, documentcommandeAchat.typeDocumentId, listeDocumentcommandeAchat )"
																			class="btn btn-sm ">
					
																			<i class="ms-Icon ms-Icon--Cancel" aria-hidden="true"></i>
					
																		</button>
																	</form>
					
																</div>
					
																<div class="col-sm-6">
																	<div class="buttons float-right" ng-show="!rowform.$visible">
																		<button data-nodrag class="btn btn-sm " ng-click="rowform.$show()">
					
																			<i class="ms-Icon ms-Icon--Edit" aria-hidden="true"></i>
																		</button>
																		<button data-nodrag class="btn btn-sm" ng-click="removeDocumentcommandeAchat($index)">
					
																			<i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i>
					
																		</button>
																	</div>
					
																</div>
															</div>
					
					
					
					
					
														</td>
													</tr>
					
												</tbody>
											</table>
					
					
										</div>
									</div>
								</div>
							</div>
						</div> -->




					</form>
				</div>
			</div>

		</div>



	</div>



	<script type="text/ng-template" id="couleurPopUp.html">
		<div class="modal-header"  >
			<div class='title-ajout'>D&eacute;tails Produit Taille / Couleur</div>
		</div>
		<div class="modal-body">

		   
			<table class="table table-bordered table-condensed table-head-color">
				<thead>
					<tr>
						<th>COULEUR \ TAILLE</th>
						<th ng-repeat="taille in listeTaille">{{taille.designation}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="couleur in listeColor" class="taille">
						<td> {{couleur.designation}} </td>
						<td ng-repeat="taille in listeTaille track by $index">
							<input
							class="form-control"
							ng-model="maGprotapedValue[$index][$parent.$index]"
							ng-keyup="addNewElement($event,maGprotapedValue[$index][$parent.$index],[$index],[$parent.$index],taille,couleur)"
							ng-init="maGprotapedValue[$index][$parent.$index] = demoQuantite(couleur.id,taille.id)">
							
						
							  	
							</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="modal-footer">
			<button class="btn-action btn" ng-click="ok()">Valider</button>
			<button class="btn-action btn" ng-click="cancel()">Annuler</button>
		</div>
	</script>

	<div id="fade" class="black_overlay"></div>

	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-md-12">


			<span class="ms-ListItem-primaryText line">Liste des Bons de
				Commande</span>

			<div style="height: 500px;" ng-grid="gridOptions"></div>
		</div>

	</div>


	<div id="light" class="white_content">
		<pop-up type="delete-commandeAchat"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>
</div>