<script type="text/javascript">

  var SearchBoxElements = document.querySelectorAll(".ms-SearchBox");
  for (var i = 0; i < SearchBoxElements.length; i++) {
    new fabric['SearchBox'](SearchBoxElements[i]);
  }

</script> 


<!-- Menu GenerateurMensuel -->
<div class="container-fluid" ng-controller="BackGenerateurMensuelCtr"
	style="background-color: #fff;">
	<!-- Critere de recherche -->
	<div class="row" ng-show="displayMode != 'edit'">
		<!-- <div class="col-sm-12">
        <button class="btn btn-action2 pull-right"
            ng-click="AffectationGenerateurMensuel(currentGenerateurMensuel)">Ajouter</button>
    </div> -->
		<div class="col-sm-12">
			<!-- <div class="title-ajout">Crit&eacute;re de recherche</div> -->



			<br /> <span class="ms-ListItem-primaryText">Crit&eacute;re
				de Recherche</span> <br />


			<!-- 
  <div class="pull-right">
   
     <button class="btn btn-action"
         ng-click="rechercherGenerateurMensuel(currentGenerateurMensuel)">Recherecher</button>
     <button class="btn btn-action" ng-click="annulerAjout()">Annuler</button>
 </div> -->

			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-SearchBox ms-SearchBox--commandBar">
						<input class="ms-SearchBox-field" type="text" value=""
							ng-model="filterOptions.filterText" /> <label
							class="ms-SearchBox-label"> <i
							class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i> <span
							class="ms-SearchBox-text">Rechercher</span>
						</label>
						<div
							class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--Cancel"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div
							class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--ChromeBack"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div
							class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--Filter"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
					</div>

					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
								class="ms-Icon ms-Icon--Info"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">

<!-- 
					<div class="ms-CommandButton btn-gpro">
						<button class="ms-CommandButton-button"
							ng-click="AffectationGenerateurMensuel(currentGenerateurMensuel)">
							<span class="ms-CommandButton-icon "><i
								class="ms-Icon ms-Icon--CirclePlus"></i></span> <span
								class="ms-CommandButton-label ">Ajouter</span>
						</button>
					</div> -->


					<!-- <div class="ms-CommandButton">
            <button class="ms-CommandButton-button" ng-click="downloadAllExcel(partieInteresseeCourante)">
                <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Generate"></i></span>
                <span class="ms-CommandButton-label">G&eacute;n&eacute;rer</span>
            </button>
        </div> -->
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="rechercherGenerateurMensuel(currentGenerateurMensuel)">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--FolderSearch"></i></span> <span
								class="ms-CommandButton-label">Rechercher</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annulerAjout()">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--Cancel"></i></span> <span
								class="ms-CommandButton-label">Annuler</span>
						</button>
					</div>
					<div
						class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Folder</a> <i
								class="ms-Icon ms-Icon--Folder"></i></li>
							<li
								class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> <i
								class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Picture</a> <i
								class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Money</a> <i
								class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" name="rechercheGenerateurMensuelFormCritere"
						id="rechercheGenerateurMensuelFormCritere">

						<div class="row">
						
						
							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<!-- <span class="input-group-text">Categorie</span> -->
											<label class=" input-group-text ms-Label">Annee
												</label>
										</div>
										<input class="form-control" ng-model="currentGenerateurMensuel.annee" />
									</div>
								</div>

							</div>

							<div class=" col-sm-4">
                              	<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">

											<label class=" input-group-text ms-Label">Mois</label>
										</div>
										<input class="form-control" ng-model="currentGenerateurMensuel.mois" />
									</div>
								</div>

							</div>
							
							
								

						</div>


					




<!-- 

						<div class="row">

							<div class="col-sm-4">
								



								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">

											<label class=" input-group-text ms-Label">Boutique</label>
										</div>
										<select name="boutiqueId" id="boutiqueId" class="form-control"
											ng-model="currentGenerateurMensuel.boutiqueId">

											<option value="">Tous</option>
											<option ng-repeat="boutique in listeBoutique"
												value="{{boutique.id}}">{{boutique.abreviation}}</option>

										</select>
									</div>
								</div>

							</div>

						</div> -->







					</form>

				</div>
			</div>
		</div>
	</div>

	<!-- container d'ajout,  modification et de consultation d'une generateurMensuel-->
	<div class="row" ng-show="displayMode == 'edit'">
		<!-- <div class="col-sm-12">
        <div class="pull-right">
            <button class="btn btn-action"
                ng-click="sauvegarderAjout(currentGenerateurMensuel)"
                ng-disabled="!creationGenerateurMensuel.$valid;">Enregistrer</button>
            <button class="btn btn-action2" ng-click="annulerAjout()">Retour</button>
        </div>
    </div> -->
		<div class="col-md-12">
			<!-- <div class="title-ajout">Ajouter utilisateur</div> -->

			<br />


   <span class="ms-ListItem-primaryText" ng-show="modePdf == 'actif'">
        Modification Generateur Mensuel</span>
      <span class="ms-ListItem-primaryText" ng-show="modePdf != 'actif'">
        Cr&eacute;ation Generateur Mensuel</span>

<br />



			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">


					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
								class="ms-Icon ms-Icon--Info"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">


					<div class="ms-CommandButton btn-gpro"
						permission="['Utilisateur_Edit']">
						<button class="ms-CommandButton-button"
							ng-click="sauvegarderAjout(currentGenerateurMensuel)"
							ng-disabled="!creationGenerateurMensuel.$valid;">
							<span class="ms-CommandButton-icon "><i
								class="ms-Icon ms-Icon--Save"></i></span> <span
								class="ms-CommandButton-label ">Enregistrer</span>
						</button>
					</div>


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annulerAjout()">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--Back"></i></span> <span
								class="ms-CommandButton-label">Retour</span>
						</button>
					</div>


					<div
						class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Folder</a> <i
								class="ms-Icon ms-Icon--Folder"></i></li>
							<li
								class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> <i
								class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Picture</a> <i
								class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Money</a> <i
								class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<form id="creationGenerateurMensuel" name="creationGenerateurMensuel">
						<!-- <div class="form-group"> -->
					
			
		<div class="row">
						
						
							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<!-- <span class="input-group-text">Categorie</span> -->
											<label class=" input-group-text ms-Label">Annee
												</label>
										</div>
										<input class="form-control" ng-model="currentGenerateurMensuel.annee" />
									</div>
								</div>

							</div>

							<div class=" col-sm-4">
                              	<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">

											<label class=" input-group-text ms-Label">Mois</label>
										</div>
										<input class="form-control" ng-model="currentGenerateurMensuel.mois" />
									</div>
								</div>

							</div>
							
							
								<div class=" col-sm-4">
                              	<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">

											<label class=" input-group-text ms-Label">Cible CA</label>
										</div>
										<input type="number" class="form-control" ng-model="currentGenerateurMensuel.cibleCA" />
									</div>
								</div>

							</div>
							
							
								

						</div>





					</form>


					<!--  <div class="title-ajout">Roles</div>
                <div class="panel-body" ng-show="displayMode == 'edit'">
                    <div class="form-group">
                        <div class="row">
                            <div class="panel panel-primary">
                                <table
                                    class="table table-bordered table-condensed table-head-color">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%">Roles</th>
                                            <th style="width: 20%"></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="role in listRoleNames ">
                                      
                                       <td>
                                            {{role.roleNames}}

                                       </td>
                                        <td style="white-space: nowrap">
                                            <!-- form -->
					<!--
                                            <form editable-form name="rowform"
                                                ng-show="rowform.$visible"
                                                onbeforesave="saveRole($data, role.id)"
                                                shown="Role == role"
                                                class="form-buttons form-inline">
                                                <div class="pull-right">
                                                    <button type="submit" ng-disabled="!rowform.$valid"
                                                        class="btn btn-sm glyphicon glyphicon-save"
                                                        aria-hidden="true"></button>
                                                    <button type="button" ng-disabled="rowform.$waiting"
                                                ng-click="cancelAddGenerateurMensuel(rowform, $index, role.id, role.designation , listeRole )"
                                                class="btn btn-sm glyphicon glyphicon-remove"></button>
                                                </div>
                                            </form>
                                            <div class="buttons pull-right" ng-show="!rowform.$visible">
                                                <button data-nodrag
                                                    class="btn btn-sm glyphicon glyphicon-pencil"
                                                    ng-click="rowform.$show()"></button>
                                                <button data-nodrag
                                                    class="btn btn-sm glyphicon glyphicon-trash"
                                                    ng-click="removeRole($index)"></button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <button class="btn btn-action pull-right spacer2"
                                    ng-click="ajoutRole()">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>  -->


				</div>
			</div>
		</div>
	</div>
	<!-- Fin ajout et modif -->

	<!-- container Grid-->
	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-md-12">
			<!-- <div class="title-ajout line">Liste des utilisateurs
            </div> -->

			<br /> <span class="ms-ListItem-primaryText line">Liste des
				generateurs mensuels</span> <br />

			<!-- <div class="row">
        <div class="input-icon right mb10 col-md-3 pull-right">
        <input placeholder="Taper un terme de recherche" type="text" ng-model="filterOptions.filterText"
            class="form-control">
        </div>
    </div> -->
			<div panel-class="panel panel-primary">
				<div style="height: 500px;" ng-grid="gridOptions"></div>
			</div>
		</div>
	</div>


	<!-- Popup de la suppression -->
	<div id="light" class="white_content">
		<pop-up type="delete-pi"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>
	<!-- Fin Popup de la suppression -->
</div>