
<script type="text/javascript">
	var CommandBarElements = document.querySelectorAll(".ms-CommandBar");
	for (var i = 0; i < CommandBarElements.length; i++) {
		new fabric['CommandBar'](CommandBarElements[i]);
	}

	var SearchBoxElements = document.querySelectorAll(".ms-SearchBox");
	for (var i = 0; i < SearchBoxElements.length; i++) {
		new fabric['SearchBox'](SearchBoxElements[i]);
	}
</script>

<div class="container-fluid" ng-controller="HistoriqueCtrl" style="background-color: #fff;">

	<div class="row" ng-show="displayMode != 'edit'">

		<div class="col-sm-12">
			<br /> <span class="ms-ListItem-primaryText">Crit&eacute;re
				de Recherche</span> <br />

			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-SearchBox ms-SearchBox--commandBar">
						<input class="ms-SearchBox-field" type="text" value="" ng-model="filterOptions.filterText" />
						<label class="ms-SearchBox-label"> <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
							<span class="ms-SearchBox-text">Rechercher</span>
						</label>
						<div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--ChromeBack"></i></span>
								<span class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
					</div>

					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
									class="ms-Icon ms-Icon--Info"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>


				
				<div class="ms-CommandBar-mainArea">
			
					<div class="ms-CommandButton ms-CommandButton--dropdown">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
									class="ms-Icon ms-Icon--Generate"></i></span> <span
								class="ms-CommandButton-label">G&eacute;n&eacute;rer</span> <span
								class="ms-CommandButton-dropdownIcon"><i
									class="ms-Icon ms-Icon--ChevronDown"></i></span>
						</button>
						<ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons">
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1"
									ng-click="download(historiqueCourant.historique,historiqueCourant.type)">Excel</a></li>

						<!-- 	<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1" (
									ng-click="downloadAllProduitsExcel(historiqueCourant)">PDF</a></li> -->
									
						</ul>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="voirHistorique()">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--FolderSearch"></i></span>
							<span class="ms-CommandButton-label">Rechercher</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="resetFields()">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> <span
								class="ms-CommandButton-label">Annuler</span>
						</button>
					</div>
					<div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Folder</a>
								<i class="ms-Icon ms-Icon--Folder"></i></li>
							<li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">A
									Coffee</a> <i class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link"
									tabindex="1">Picture</a> <i class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a class="ms-ContextualMenu-link" tabindex="1">Money</a>
								<i class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" name="creationStockForm" id="creationStockForm">
						<div class="row">
							
								<div class="col-sm-3">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Historique </span>
											</div>
											<select class="form-control" ng-model="historiqueCourant.historique"
												ng-init="historiqueCourant.historique=''">
												<option value="ENTREE">Entree</option>
											<option value="SORTIE">Sortie</option>
											</select>
										</div>
									</div>
								</div>
					
						
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Fournisseur </span>
										</div>
										<select ui-select2 class="form-control" ng-model="historiqueCourant.fournisseur"
											ng-init="historiqueCourant.fournisseur=''" style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option
											ng-repeat="fournisseur in listeFournisseurCache"
												value="{{fournisseur.id}}">{{fournisseur.abreviation}}</option>
										</select>
									</div>
								</div>

							</div>




							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Emplacement</span>
										</div>
										<input class="form-control" ng-model="historiqueCourant.emplacement"
											ng-init="historiqueCourant.emplacement=''" />
									</div>
								</div>
							</div>


							<div class="col-sm-3">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Type Matière </span>
										</div>
										<select class="form-control" ng-model="historiqueCourant.type"
												ng-init="historiqueCourant.type='1'">
												<option value="1">Material</option>
											<option value="2">Mixed</option>
											</select>
									</div>
								</div>

							</div>


						</div>





						<div class="row">
					
						
							<div class="col-sm-3">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Famille </span>
									</div>
									<select ui-select2 class="form-control" ng-model="historiqueCourant.famille"
										ng-init="historiqueCourant.famille=''" style="border: 1px solid #e5eaee !important;">
										<option value="">Tous</option>
										<option ng-repeat="famille in listeFamilleCache"
										value="{{famille.id}}">{{famille.designation}}</option>
									</select>
								</div>
							</div>
							</div>

							<div class="col-sm-3">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Sous Famille </span>
									</div>
									<select ui-select2 class="form-control" ng-model="historiqueCourant.Sousfamille"
										ng-init="historiqueCourant.Sousfamille=''" style="border: 1px solid #e5eaee !important;">
										<option value="">Tous</option>
										<option ng-repeat="Sousfamille in listeSousFamilleArticleCache"
											value="{{Sousfamille.id}}">{{Sousfamille.designation}}</option>
									</select>
								</div>
							</div>
							</div>


							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Référence</span>
										</div>
										<select ui-select2 class="form-control" ng-model="historiqueCourant.refArticle"
											ng-init="historiqueCourant.refArticle=''" style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option ng-repeat="article in listeArticle"
												value="{{article.id}}">{{article.ref}}</option>
										</select>
									</div>
								</div>
							</div>
	
								<div class="col-sm-3">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Matiére </span>
											</div>
											<select ui-select2 class="form-control" ng-model="historiqueCourant.article"
											ng-init="historiqueCourant.article=''" style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option ng-repeat="article in listeArticle"
											value="{{article.id}}">{{article.ref}}</option>
										</select>
										</div>
									</div>
									</div>



						</div>
							
							

						
						<div class="row">
					

		

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Magasin </span>
										</div>
										<select ui-select2 class="form-control" ng-model="historiqueCourant.magasin"
										ng-init="historiqueCourant.magasin=''" style="border: 1px solid #e5eaee !important;">
										<option value="">Tous</option>
										<option ng-repeat="magasin in listeMagasinCache"
										value="{{magasin.id}}">{{magasin.designation}}</option>
									</select>
									</div>
								</div>
								</div>




								<div class="col-sm-3" ng-controller="DatepickerDemoController">



									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													Date Entre </span>
											</div>
											<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
												ng-init="historiqueCourant.dateDu =''"
												ng-model="historiqueCourant.dateDu" is-open="opened"
												datepicker-options="dateOptions" date-="enabled(date, mode)" ng-required="true"
												close-text="Close" />
	
											<div class="input-group-append">
												<button type="button" class="btn1 btn-default" ng-click="open($event)" style="
															color: rgb(54, 153, 255);
															background-color: rgb(225, 240, 255);
														">
													<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
												</button>
											</div>
										</div>
									</div>
	
								</div>
	



			
								<div class="col-sm-3" ng-controller="DatepickerDemoController">



									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													Et</span>
											</div>
											<input type="text" class="form-control datepicker" datepicker-popup="{{format}}"
												ng-init="historiqueCourant.dateA =''"
												ng-model="historiqueCourant.dateA" is-open="opened"
												datepicker-options="dateOptions" date-="enabled(date, mode)" ng-required="true"
												close-text="Close" />
	
											<div class="input-group-append">
												<button type="button" class="btn1 btn-default" ng-click="open($event)" style="
															color: rgb(54, 153, 255);
															background-color: rgb(225, 240, 255);
														">
													<i class="glyphicon glyphicon-calendar" style="color: #3699ff;"></i>
												</button>
											</div>
										</div>
									</div>
	
								</div>


								<div class="col-sm-3">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">Raison </span>
											</div>
											<select ui-select2 class="form-control" ng-model="historiqueCourant.raison"
											ng-init="historiqueCourant.raison=''" style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option ng-repeat="raison in ListeRaisonCache"
												value="{{raison.id}}">{{raison.designation}}</option>
										</select>
										</div>
									</div>
								</div>
	

						</div>
						


						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">OF </span>
										</div>
										<select ui-select2 class="form-control" ng-model="historiqueCourant.ofId"
										ng-init="historiqueCourant.ofId=''" style="border: 1px solid #e5eaee !important;">
										<option value="">Tous</option>
														<option ng-repeat="mise in ListeMises"
															value="{{mise.id}}">{{mise.reference}}</option>
									</select>
									</div>
								</div>

							</div>

						</div>



				
					</form>

				</div>
			</div>
		</div>
	</div>



	 <div class="row" ng-show="displayEtat == 'fourniture'">
		<div class="col-md-12">


			<br /> <span class="ms-ListItem-primaryText">Liste</span> <br />
			<div class="title-ajout line"></div>



			<div style="height: 500px;" ng-grid="gridOptions"></div>
		</div>
	</div>

	<div id="light" class="white_content">
		<pop-up type="delete-article"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>
 


</div>