<script type="text/javascript">

  var SearchBoxElements = document.querySelectorAll(".ms-SearchBox");
  for (var i = 0; i < SearchBoxElements.length; i++) {
    new fabric['SearchBox'](SearchBoxElements[i]);
  }

</script> 



<div class="container-fluid" ng-controller="gcReceptionDetailAchatCtrl"
	style="background-color: #fff;">
	
	<div class="row" ng-show="traitementEnCoursGenererDetail =='true'">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
			<br>
			<div ng-click="traitementEnCoursGenererDetail ='false'">


				<div class="lds-ellipsis">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>




			</div>

		</div>
		<div class="col-sm-5"></div>

	</div>
	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-sm-12">
			<br /> <span
				class="ms-ListItem-secondaryText float-right font-italic"> <b>R&eacute;ception
					Article D&eacute;taill&eacute;</b>
			</span> <span class="ms-ListItem-primaryText">Crit&eacute;re de
				Recherche</span> <br />

			<div class="ms-CommandBar ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-SearchBox ms-SearchBox--commandBar">
						<input class="ms-SearchBox-field" type="text" value=""
							ng-model="filterOptions.filterText" /> <label
							class="ms-SearchBox-label"> <i
							class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i> <span
							class="ms-SearchBox-text">Rechercher</span>
						</label>
						<div
							class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--Cancel"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div
							class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--ChromeBack"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
						<div
							class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
							<button class="ms-CommandButton-button">
								<span class="ms-CommandButton-icon"><i
									class="ms-Icon ms-Icon--Filter"></i></span> <span
									class="ms-CommandButton-label"></span>
							</button>
						</div>
					</div>

					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
								class="ms-Icon ms-Icon--Info"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="downloadAllReceptionAchatDetail(receptionAchatCourante)">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--Generate"></i></span> <span
								class="ms-CommandButton-label">G&eacute;n&eacute;rer</span>
						</button>
					</div>
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="rechercherReceptionAchat(receptionAchatCourante)">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--FolderSearch"></i></span> <span
								class="ms-CommandButton-label">Rechercher</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annulerAjout()">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--Cancel"></i></span> <span
								class="ms-CommandButton-label">Annuler</span>
						</button>
					</div>
					<div
						class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--More"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
						<ul class="ms-ContextualMenu is-opened">
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Folder</a> <i
								class="ms-Icon ms-Icon--Folder"></i></li>
							<li
								class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Plain Text
									Document</a> <i class="ms-Icon ms-Icon--Document"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> <i
								class="ms-Icon ms-Icon--Coffee"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Picture</a> <i
								class="ms-Icon ms-Icon--Picture"></i></li>
							<li class="ms-ContextualMenu-item"><a
								class="ms-ContextualMenu-link" tabindex="1">Money</a> <i
								class="ms-Icon ms-Icon--Money"></i></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" id="rechercheSSForm"
						name="rechercheSSForm">

						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">R&eacute;f&eacute;rence</span>
										</div>
										<input type="text" class="form-control"
											ng-init="receptionAchatCourante.reference =''"
											ng-model="receptionAchatCourante.reference" />
									</div>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Fournisseur</span>
										</div>
										<select ui-select2
											ng-model="receptionAchatCourante.partieInteresseId"
											ng-init="receptionAchatCourante.partieInteresseId=''"
											data-placeholder="..." class="form-control"
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option ng-repeat="pi in listePartieInteressee"
												value="{{pi.id}}">{{pi.raisonSociale}}</option>
										</select>
									</div>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Article</span>
										</div>
										<select ui-select2 ng-model="receptionAchatCourante.produitId"
											ng-init="receptionAchatCourante.produitId = ''"
											data-placeholder="..." class="form-control"
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option ng-repeat="produit in listeProduitCache"
												value="{{produit.id}}">{{produit.reference}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3" ng-controller="DatepickerDemoController">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> Date Reception de</span>
										</div>
										<input type="text" class="form-control datepicker"
											datepicker-popup="{{format}}"
											ng-init="receptionAchatCourante.dateIntroductionDu =''"
											ng-model="receptionAchatCourante.dateIntroductionDu"
											is-open="opened" datepicker-options="dateOptions"
											date-="enabled(date, mode)" ng-required="true"
											close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default"
												ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar"
													style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3" ng-controller="DatepickerDemoController">


								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> A</span>
										</div>
										<input type="text" class="form-control datepicker"
											datepicker-popup="{{format}}"
											ng-init="receptionAchatCourante.dateIntroductionA =''"
											ng-model="receptionAchatCourante.dateIntroductionA"
											is-open="opened" datepicker-options="dateOptions"
											date-="enabled(date, mode)" ng-required="true"
											close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default"
												ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar"
													style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Quantit&eacute; Du</span>
										</div>
										<input type="number" class="form-control" min="0"
											pattern="^\d*(\.\d{0,2})?$" placeholder="0" value="0"
											name="quantiteDu"
											ng-init="receptionAchatCourante.quantiteDu =''"
											ng-model="receptionAchatCourante.quantiteDu" />
									</div>
									<div
										ng-show="
                  rechercheSSForm.quantiteDu.$dirty && rechercheSSForm.quantiteDu.$invalid"
										class="error">
										<div ng-show="rechercheSSForm.quantiteDu.$error">La
											valeur doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Quantit&eacute; A</span>
										</div>
										<input type="number" class="form-control" min="0"
											pattern="^\d*(\.\d{0,2})?$" placeholder="0" value="0"
											name="quantiteA"
											ng-init="receptionAchatCourante.quantiteA =''"
											ng-model="receptionAchatCourante.quantiteA" />
									</div>
									<div
										ng-show="
                  rechercheSSForm.quantiteA.$dirty && rechercheSSForm.quantiteA.$invalid"
										class="error">
										<div ng-show="rechercheSSForm.quantiteA.$error">La
											valeur doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
						
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Ref.Externe</span>
										</div>
										<input type="text" class="form-control"
											ng-init="receptionAchatCourante.refexterne =''"
											ng-model="receptionAchatCourante.refexterne" />
									</div>
								</div>
							</div>



							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Magasin</span>
										</div>
										<select ui-select2 ng-model="receptionAchatCourante.idDepot"
											ng-init="receptionAchatCourante.idDepot =''"
											data-placeholder="" class="form-control"
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous les Magasins</option>
											<option ng-repeat="magazin in listeMagazinCache"
												value="{{magazin.id}}">{{magazin.designation}}</option>
										</select>
									</div>
								</div>

							</div>

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Prix Du</span>
										</div>
										<input type="number" class="form-control" min="0"
											pattern="^\d*(\.\d{0,2})?$" placeholder="0.00" value="0"
											name="coutDu" ng-init="receptionAchatCourante.coutDu =''"
											ng-model="receptionAchatCourante.coutDu" />
									</div>

									<div
										ng-show="
                  rechercheSSForm.coutDu.$dirty && rechercheSSForm.coutDu.$invalid"
										class="error">
										<div ng-show="rechercheSSForm.coutDu.$error">La valeur
											doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">Prix A</span>
										</div>
										<input type="number" class="form-control" min="0"
											pattern="^\d*(\.\d{0,2})?$" placeholder="0.00" value="0"
											name="coutA" ng-init="receptionAchatCourante.coutA =''"
											ng-model="receptionAchatCourante.coutA" />

									</div>
									<div
										ng-show="
                  rechercheSSForm.coutA.$dirty && rechercheSSForm.coutA.$invalid"
										class="error">
										<div ng-show="rechercheSSForm.coutA.$error">La valeur
											doit être supérieure ou égale à 0 !</div>
									</div>
								</div>
							</div>
						</div>
						
						
					     <div class="row">
             
                   <div class="col-sm-3">


                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text ms-Label">N° Article</label>
                    </div>
                    <input class="form-control" ng-init="receptionAchatCourante.numeroProduit =''"
                      ng-model="receptionAchatCourante.numeroProduit" />
                  </div>
                </div>
              </div>
              
              
                     <div class="col-sm-3">


                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text ms-Label">R&eacute;f Four.</label>
                    </div>
                    <input class="form-control" ng-init="receptionAchatCourante.referenceFournisseurProduit =''"
                      ng-model="receptionAchatCourante.referenceFournisseurProduit" />
                  </div>
                </div>
              </div>
             
              </div>
						
						
					</form>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="couleurPopUp.html">
     <div class="modal-header"  >
    <span class="ms-ListItem-primaryText line">D&eacute;tails Produit Taille / Couleur</span>


     </div>
     <div class="modal-body">
     	<table class="table table-bordered table-condensed table-head-color">
     		<thead>
     			<tr>
     				<th>COULEUR \ TAILLE</th>
     				<th ng-repeat="taille in listeTaille">{{taille.designation}}</th>
     			</tr>
     		</thead>
     		<tbody>
     			<tr ng-repeat="couleur in listeColor" class="taille">
     				<td> {{couleur.designation}} </td>
     				<td ng-repeat="taille in listeTaille track by $index">
     					<input
     					class="form-control"
     					ng-model="maGprotapedValue[$index][$parent.$index]"
     					ng-keyup="addNewElement($event,maGprotapedValue[$index][$parent.$index],[$index],[$parent.$index],taille,couleur)"
     					ng-init="maGprotapedValue[$index][$parent.$index] = demoQuantite(couleur.id,taille.id)">
     					</td>
     			</tr>
     		</tbody>
     	</table>
     </div>

     <div class="modal-footer">
     	<button class="btn-action btn" ng-click="ok()">Valider</button>
     	<button class="btn-action btn" ng-click="cancel()">Annuler</button>
     </div>
  </script>

	<div id="fade" class="black_overlay"></div>
	<div class="row" ng-show="displayMode != 'edit'">
		<div class="col-md-12">
			<span class="ms-ListItem-primaryText line">Reception Article
				D&eacute;taill&eacute;</span>

			<div style="height: 500px;" ng-grid="gridOptions"></div>
		</div>

		<div class="modal fade" tabindex="-1" id="SeriesModalConsult"
			data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-sm">
				<div class="modal-content"
					style="width: 700px !important; left: 50%; top: 0; display: block; position: absolute; margin: 100px auto !important; transform: translate(-50%, -0%); background-color: #fff; z-index: 1002;">
					<div class="modal-header">
						<h4 class="modal-title">
							{{selectedProduitReceptionDetail.receptionAchatValue.reference}}
							/ {{selectedProduitReceptionDetail.produitValue.reference}}</h4>
						<button type="button" class="close" data-dismiss="modal">
							&times;</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">N&ordm; Serie</span>
											</div>
											<input type="text" class="form-control"
												ng-init="numSerieFilter =''" ng-model="numSerieFilter" />
										</div>
									</div>
								</div>

							</div>



							<table
								class="table table-bordered table-condensed table-head-color">
								<thead>
									<tr>
										<th style="width: 80%;">N&ordm; Serie</th>
									</tr>
								</thead>

								<tbody>
									<tr
										ng-repeat="produitSerialisable in selectedProduitsSerialisable | filter:{numSerie:numSerieFilter}">
										<td>{{produitSerialisable.numSerie}}</td>

									</tr>
								</tbody>
							</table>
						</form>
					</div>
					<div class="modal-footer">

						<button type="button" class="btn btn-primary" data-dismiss="modal">
							Retour</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="light" class="white_content">
		<pop-up type="delete-receptionAchat"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>
</div>