<!--Script Fabric JS-->
<script type="text/javascript">
	var CommandBarElements = document
			.querySelectorAll('.ms-CommandBar-Analyse-Vente');
	for (var i = 0; i < CommandBarElements.length; i++) {
		new fabric['CommandBar'](CommandBarElements[i]);
	}

	var SearchBoxElements = document.querySelectorAll('.ms-SearchBox');
	for (var i = 0; i < SearchBoxElements.length; i++) {
		new fabric['SearchBox'](SearchBoxElements[i]);
	}
</script>

<!--End FabricJS-->
<style>
.ms-CommandBar-Analyse-Vente {
	background-color: #f3f6f9 !important;
	border-color: transparent !important;
}

.ms-CommandButton-button {
	color: #3699ff !important;
}

.ms-CommandButton-button:hover {
	background-color: #3699ff !important;
}

.ms-CommandButton-button:hover span {
	color: #ffff !important;
}

.ms-CommandButton-button:hover i {
	color: #ffff !important;
}

.ms-CommandButton-label, .ms-SearchBox-text {
	color: #3699ff !important;
}

.ms-CommandButton-label:hover {
	color: #ffff !important;
}

.ms-Icon {
	color: #3699ff !important;
}

.ms-Icon.ms-Icon-Gpro {
	top: 30% !important;
	color: #464e5f !important;
	font-size: 14px !important;
}

.ms-CommandButton .ms-CommandButton-Gpro {
	padding: 0px !important;
}

.ms-Icon:hover {
	color: #fff !important;
}

.ms-ListItem-primaryText.ms-Item-Gpro {
	top: 15px !important;
}
</style>

<div class="container-fluid" ng-controller="AnalyseStockController"
	style="background-color: #fff;">
	<div class="row">
		<div class="col-sm-12">
			<br />
		</div>
		<div class="col-sm-12">
			<br /> <span class="ms-ListItem-primaryText">Analyse Stock</span> <br />

			<div class="ms-CommandBar-Analyse-Vente ms-CommandBar--navBar">
				<div class="ms-CommandBar-sideCommands">
					<div class="ms-CommandButton ms-CommandButton--noLabel">
						<button class="ms-CommandButton-button">
							<span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i
								class="ms-Icon ms-Icon--Info"></i></span> <span
								class="ms-CommandButton-label"></span>
						</button>
					</div>
				</div>
				<div class="ms-CommandBar-mainArea">




					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartMvtSortieBySousFamille()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax ==''">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Sortie / Sous Famille</span>
						</button>
					</div>






					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartMvtEntreeBySousFamille()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax ==''">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Entree / Sous Famille</span>
						</button>
					</div>




					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartMvtSortieByArticle()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax ==''">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Sortie / Article</span>
						</button>
					</div>

					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartMvtEntreeByArticle()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax ==''">
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Entree / Article</span>
						</button>
					</div>


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartActuelleBySousFamille()"
							>
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Act. / Sous Famille</span>
						</button>
					</div>


					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartActuelleByArticle()"
					>
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Act. / Article</span>
						</button>
					</div>
					
					
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartActuelleEntreeSortieBySousFamille()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax ==''"
							>
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Act./Entr./Sort./Sous Famille
							</span>
						</button>
					</div>
					
										
					<div class="ms-CommandButton">
						<button class="ms-CommandButton-button"
							ng-click="createChartActuelleEntreeSortieByArticle()"
							ng-disabled="CritRecherche.dateMin =='' || CritRecherche.dateMax =='' || CritRecherche.sousFamilleArticle =='' "
							>
							<span class="ms-CommandButton-icon"><i
								class="ms-Icon ms-Icon--BarChart4"></i></span> <span
								class="ms-CommandButton-label">Act./Entr./Sort./Article
							</span>
						</button>
					</div>
					
					

	<div class="ms-CommandButton">
						<button class="ms-CommandButton-button" ng-click="annuler()">
							<span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> <span
								class="ms-CommandButton-label">Annuler</span>
						</button>
					</div>


				</div>
			</div>

			<div class="panel panel-primary">
				<div class="panel-body">
					<form class="form-horizontal" name="rechercheecheancierForm"
						id="rechercheecheancierForm">
						<div class="row">

							<div class="col-sm-4" ng-controller="DatepickerDemoController">

								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> Date De :</span>
										</div>
										<input type="text" class="form-control datepicker"
											datepicker-popup="{{format}}"
											ng-init="CritRecherche.dateMin =''"
											ng-model="CritRecherche.dateMin" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)"
											ng-required="true" close-text="Close"/>

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default"
												ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar"
													style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>

							</div>
							

							<div class="col-sm-5" ng-controller="DatepickerDemoController">


								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"> Date A:</span>
										</div>
										<input type="text" class="form-control datepicker"
											datepicker-popup="{{format}}"
											ng-init="CritRecherche.dateMax =''"
											ng-model="CritRecherche.dateMax" is-open="opened"
											datepicker-options="dateOptions" date-="enabled(date, mode)"
											ng-required="true" close-text="Close" />

										<div class="input-group-append">
											<button type="button" class="btn1 btn-default"
												ng-click="open($event)"
												style="color: rgb(54, 153, 255); background-color: rgb(225, 240, 255);">
												<i class="glyphicon glyphicon-calendar"
													style="color: #3699ff;"></i>
											</button>
										</div>
									</div>
								</div>



							</div>

						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<label class="input-group-text ms-Label">Type</label>
										</div>
										<select ui-select2 ng-model="CritRecherche.typeArticle"
											ng-init="CritRecherche.typeArticle ='1'"
											data-placeholder="..." class="form-control"
											style="border: 1px solid #e5eaee !important;">

											<option value="1">Matiere</option>
											<option value="2">Film</option>
											<option value="3">Forme de decoupe</option>

										</select>
									</div>
								</div>

							</div>

							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<label class="input-group-text ms-Label">Famille</label>
										</div>
										<select ui-select2 ng-model="CritRecherche.familleArticle"
											ng-init="CritRecherche.familleArticle =''"
											data-placeholder="..." class="form-control"
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option
												ng-repeat="famille in listeFamilleCache | filter:{idTypeArticle:CritRecherche.typeArticle} "
												value="{{famille.id}}">{{famille.designation}}</option>
										</select>
									</div>
								</div>

							</div>


							<div class="col-sm-3">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<label class="input-group-text ms-Label">Sous Famille</label>
										</div>
										<select ui-select2 ng-model="CritRecherche.sousFamilleArticle"
											ng-init="CritRecherche.sousFamilleArticle =''"
											data-placeholder="..." class="form-control"
											style="border: 1px solid #e5eaee !important;">
											<option value="">Tous</option>
											<option
												ng-repeat="sf in listeSousFamilleArticleCache | filter:{idFamilleArticle:CritRecherche.familleArticle} "
												value="{{sf.id}}">{{sf.designation}}</option>
										</select>
									</div>
								</div>

							</div>




                        </div>
                        
                     
					</form>
				</div>
			</div>
		</div>

		<div style="margin-bottom: 500px;" ng-show="init"></div>
	</div>




	<div class="row">


		<div class="col-md-12" ng-show="displayChartSousFamilleMvtSortie">
			<br /> <span class="ms-ListItem-primaryText line">Sortie
				/ Sous Famille </span> <br />
			<div class="row">
				<div id="chartSousFamilleMvtSortie" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>




		<div class="col-md-12" ng-show="displayChartSousFamilleMvtEntree">
			<br /> <span class="ms-ListItem-primaryText line">Entree
				/ Sous Famille </span> <br />
			<div class="row">
				<div id="chartSousFamilleMvtEntree" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>


		<div class="col-md-12" ng-show="displayChartArticleMvtSortie">
			<br /> <span class="ms-ListItem-primaryText line">Sortie
				/ Article </span> <br />
			<div class="row">
				<div id="chartArticleMvtSortie" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>




		<div class="col-md-12" ng-show="displayChartArticleMvtEntree">
			<br /> <span class="ms-ListItem-primaryText line">Entree
				/ Article </span> <br />
			<div class="row">
				<div id="chartArticleMvtEntree" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>




		<div class="col-md-12" ng-show="displayChartSousFamilleActuelle">
			<br /> <span class="ms-ListItem-primaryText line">Act. /
				sous Famille</span> <br />
			<div class="row">
				<div id="chartSousFamilleActuelle" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>


		<div class="col-md-12" ng-show="displayChartArticleActuelle">
			<br /> <span class="ms-ListItem-primaryText line">Act. /
				Article</span> <br />
			<div class="row">
				<div id="chartArticleActuelle" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>
		
		
		
		
		
		<div class="col-md-12" ng-show="displayChartSousFamilleActuelleEntreeSortie">
			<br /> <span class="ms-ListItem-primaryText line">Act./Entr./Sort./
				sous Famille</span> <br />
			<div class="row">
				<div id="chartSousFamilleActuelleEntreeSortie" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>


		<div class="col-md-12" ng-show="displayChartArticleActuelleEntreeSortie">
			<br /> <span class="ms-ListItem-primaryText line">Act./Entr./Sort./
				Article</span> <br />
			<div class="row">
				<div id="chartArticleActuelleEntreeSortie" style="height: 400px;"
					class="col-md-12"></div>


			</div>
		</div>



	</div>


	<div id="light" class="white_content">
		<pop-up type="delete-article"></pop-up>
	</div>
	<div id="fade" class="black_overlay"></div>

</div>